<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E4K</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://chatwee-api.com/v2/script/58c9ee05bd616d8e38fda3f3.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" id="main-nav" role="navigation">
        <nav class="small-nav navbar-fixed-top">
            <div class="container">
                <div class="">
                    <ul class="nav navbar-nav">
                        <li>
                            <a data-toggle="dropdown" href="#"><%= t("new_events") %>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a class="" href="#">
                                        <span><%= t("internal_news") %></span>
                                    </a>
                                  </li>
                                  <li>
                                    <a class="" href="#">
                                        <span><%= t("external_news") %></span>
                                    </a>
                                  </li>
                                </ul>
                        </li>
                        <li>

                            <a data-toggle="dropdown" href="#" class="social-btn">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="dropdown" href="#" class="social-btn">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="dropdown" href="#" class="social-btn">
                                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="/assets/logo.png" width="42" height="42">
                    <!-- <i class="fa fa-play-circle"></i> <span class="light"><%= t("welcome") %></span> Fundland -->
                </a>
                <a class="navbar-brand page-scroll" href="#page-top" style="padding-top: 27px;">
                    <span>FUNLAND</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll button" href="#about">
                            <span><%= t("why_funland") %></span>
                        </a>
                    </li>

                    <li>
                        <a class="button page-scroll" data-toggle="dropdown" href="#"><%= t("courses") %>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li>
                                <a class="page-scroll button" href="#active-learning">
                                    <span><%= t("active_learning") %></span>
                                </a>
                              </li>
                              <li>
                                <a class="page-scroll button" href="#kindergarten">
                                    <span><%= t("kindergarten") %></span>
                                </a>
                              </li>
                              <li>
                                <a class="page-scroll button" href="#primary">
                                    <span><%= t("primary") %></span>
                                </a>
                              </li>
                            </ul>
                    </li>

                    <li>
                        <a class="page-scroll button" href="#teacher">
                            <span><%= t("teachers") %></span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll button" href="#student">
                            <span><%= t("students") %></span>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll button" href="#contact">
                            <span><%= t("contact") %></span>
                        </a>
                    </li>
                    <li>
                        <a class="button page-scroll" data-toggle="dropdown" href="#"><%= t("utilities") %>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#" class="button page-scroll"><%= t("practise_at_home") %></a></li>
                              <li><a href="#" class="button page-scroll"><%= t("for_parent") %></a></li>
                              <li><a href="#" class="button page-scroll"><%= t("pictures") %></a></li>
                            </ul>
                    </li>


                    <li class="pull-left language-icon visible-mobile">
                        <a href="https://facebook.com" class="social-btn">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="pull-left language-icon visible-mobile">
                        <a href="https://facebook.com" class="social-btn">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="pull-left language-icon visible-mobile">
                        <a href="https://facebook.com" class="social-btn">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="pull-right language-icon">
                        <%= link_to locale: "en" do %>
                          <%= image_tag("en_flag_icon", size: "20x20") %>
                        <% end %>
                    </li>
                    <li class="pull-right language-icon">
                        <%= link_to locale: "vi" do %>
                          <%= image_tag("vn_flag_icon", size: "20x20") %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
  <ul class="bxslider" id="slider1">
    <li><%= image_tag("1", height: "650", width: "100%") %></li>
    <li><%= image_tag("2", height: "650", width: "100%") %></li>
    <li><%= image_tag("3", height: "650", width: "100%") %></li>
    <li><%= image_tag("4", height: "650", width: "100%") %></li>
  </ul>

    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-md-6">

                <%= image_tag("program", height: "100%", width: "100%") %>

            </div>
            <div class="col-md-6">
                <div class="bubble">

                <div class="rectangle course-box-title"><h2><%= "About Funland" %></h2></div>
                <div class="info">
                    <%= Article.last.content.html_safe %>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->

    <section id="kindergarten" class="courses">
        <div id="signup-modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white"><%= t("register") %></h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email"><%= t("your_name") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="email" placeholder="Enter Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_email") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="pwd" placeholder="Enter Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_phone") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="pwd" placeholder="Enter Phone">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="sel1" class="col-sm-3 control-label"><%= t("select_course_type") %></label>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                          <option>Starter</option>
                          <option>Intensive</option>
                          <option>Super Star</option>
                          <option>Great Reader</option>
                          <option>Tiếng Anh tiểu học</option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="sel1" class="col-sm-3 control-label"><%= t("select_center") %></label>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                          <option>Cơ sở 1: Phủ Lỗ</option>
                          <option>Cơ sở 2: Kim Lũ</option>
                          <option>Cơ sở 3: Xuân Giang</option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_message") %></label>
                    <div class="col-sm-8">
                      <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success"><%= t("register") %></button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("cancel") %></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
            <!-- <h1>Khoa Hoc</h1> -->
            <div class="rectangle course-box-title"><h2><%= t("kindergarten") %></h2></div>
            <div class="col-md-3 col-sm-6 course-box">

                <div class="bubble">
                    <div class="rectangle"><h2>Starter</h2></div>
                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 course-box">

                <div class="bubble">
                    <div class="rectangle"><h2>Intensive</h2></div>

                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 course-box">

                <div class="bubble">
                    <div class="rectangle"><h2>Super Star</h2></div>

                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>                </div>
            </div>
            <div class="col-md-3 col-sm-6 course-box">
                <div class="bubble">
                    <div class="rectangle"><h2>Great Reader</h2></div>
                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="primary" class="courses">
        <div class="row" id="active-learning">
            <div class="col-md-6 col-sm-6 course-box">

                <div class="bubble">
                    <div class="rectangle"><h2>Tiếng Anh tiểu học</h2></div>
                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 course-box">

                <div class="bubble">
                    <div class="rectangle"><h2><%= t("active_learning") %></h2></div>
                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>

                      <p>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#signup-modal"> <%= t("free_trial") %></a>
                      </p>
                    </div>
                </div>
            </div>
    </section>

    <!-- Download Section -->
    <section id="teacher" class="text-center">
        <div class="download-section">
            <div class="container">
              <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">


                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div><div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div><div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="bubble">
                    <div class="rectangle"><h2><%= t("teachers") %></h2></div>
                    <div class="info">
                      <h2>I Have Used Only CSS, friends!</h2>
                      <p>
                        For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                        <br>
                        <a href="#">More Details</a><br />
                      </p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section id="student" class="text-center">
        <div class="download-section">
            <div class="container">
              <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div><div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div><div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= Article.first.content.html_safe %>">
                            <img src="/assets/1.jpg" class="img-circle" alt="Cinque Terre">
                            Tran Chinh Thuc
                        </p>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="bubble">
                      <div class="rectangle"><h2><%= t("students") %></h2></div>
                      <div class="info">
                        <h2>I Have Used Only CSS, friends!</h2>
                        <p>
                          For this tutorial I have used some new properties of the CSS3. You can realize a nice 3D effect using only CSS, it's really fantastic.<br />It doesn't work with IE!
                          <br>
                          <a href="#">More Details</a><br />
                        </p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->

    <section id="contact" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="rectangle" style="margin-bottom: 20px"><h2 style="text-align: left; padding: 10px;"><%= t("contact_us") %></h2></div>
                <ul class="contact-info">
                    <li><span class="text-muted">Email: </span>funland@gmail.com</li>
                    <li><span class="text-muted">Phone: </span>0466666666</li>
                    <span class="title-base">Co So 1:</span>
                        <li>xxx-Phu Lo-Soc Son-Ha Noi</li>
                    <span class="title-base">Co so 2:</span>
                        <li>xxx-Phu Lo-Soc Son-Ha Noi</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="rectangle" style="margin-bottom: 20px"><h2 style="text-align: left; padding: 10px;"><%= t("free_trial") %></h2></div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email"><%= t("your_name") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="email" placeholder="Enter Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_email") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="pwd" placeholder="Enter Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_phone") %></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="pwd" placeholder="Enter Phone">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="sel1" class="col-sm-3 control-label"><%= t("select_course_type") %></label>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                          <option>Starter</option>
                          <option>Intensive</option>
                          <option>Super Star</option>
                          <option>Great Reader</option>
                          <option>Tiếng Anh tiểu học</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="sel1" class="col-sm-3 control-label"><%= t("select_center") %></label>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                          <option>Cơ sở 1: Phủ Lỗ</option>
                          <option>Cơ sở 2: Kim Lũ</option>
                          <option>Cơ sở 3: Xuân Giang</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd"><%= t("your_message") %></label>
                    <div class="col-sm-8">
                      <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                      <button type="submit" class="btn btn-success" style="background-color: #00FF00; color: black"><%= t("register") %></button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </section>

    <%= render "shared/footer" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>
