<section id="kindergarten" class="courses">
    <div id="signup-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color: white"><%= t("register") %></h4>
          </div>
          <div class="modal-body">
            <%= render "trial_registration_form" %>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
        <div class="rectangle course-box-title"><h2><%= t("kindergarten") %></h2></div>
        <% @courses.kindergarten.each do |course| %>
          <div class="col-md-3 col-sm-6 course-box">
              <div class="bubble">
                  <div class="rectangle"><h2><%= course.name %></h2></div>
                  <div class="info">
                    <%= course.description.try(:html_safe) %>
                  </div>
              </div>
          </div>
        <% end %>
    </div>
</section>
