<section id="teacher">
    <div class="download-section">
        <div class="container">
          <div class="col-md-9">
            <div class="row">
                <% @teachers.each do |teacher| %>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                      <p class="teacher-name" title="Helen" data-toggle="popover" data-trigger="hover" data-content="<%= teacher.description.html_safe %>">
                          <%= image_tag(teacher.avatar.url, class: "img-circle") %>
                          <%= teacher.fullname %>
                      </p>
                  </div>
                <% end %>
            </div>
          </div>
          <div class="col-md-3">
              <div class="bubble">
                <div class="rectangle"><h2><%= t("teachers") %></h2></div>
                <div class="info">
                  <%= @general_descriptions.teacher.first.try(:content).try(:html_safe) %>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
